{%extends 'layout.html'%}

{%block content%}
<div class="container">
    <h3>Admin </h3>

    <form action=" " method="POST">
        <div class="col-4">
            <label for="">Username</label>
            <input type="text" name="username" id="" class="form-control" placeholder="">
        </div>
        <div class="col-4">
            <label for="">Password</label>
            <input type="password" name="password" id="" class="form-control" placeholder="**********">
        </div>
        
        <div class="col-4">
            <input type="submit" class="btn btn-success " name="login" value="Login">
        </div>
    

    </form>

   
</div>
<br><br>

{%endblock%}

